{{#each result}}
<div>a {{this.manufacturer}} </div>
<div> {{this.manufacturerPartNumber}} </div>
<div> {{this.MouserPartNumber}} </div>
<div> {{this.SuggestedReplacement}} </div>
<div> {{this.AvailabilityInStock}} </div>
{{/each}}