<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Price</th>
      <th>How many</th>
    </tr>
  </thead>
  <tbody>
   {{#each result}}
<tr>
  <td><img src="{{this.ImagePath}}"></td>
  <td>{{this.Description}}
    {{#if this.DataSheetUrl}}
    <a href="{{this.DataSheetUrl}}" target="_blank"> Datasheet</a>
    {{/if}}
  </td>
  <td>
    {{#if this.PriceBreaks}}
      {{this.PriceBreaks.[0].Price}} {{this.PriceBreaks.[0].Currency}}
    {{else}}
      N/A
    {{/if}}
  </td>
  <td>
     <form action="/admin/projects/workingOn" method="post" class="add-to-used-parts-form">
          <div class="form-group">
            <input type="number" class="form-control" name="count" placeholder="Enter count">
          </div>
          <input type="hidden" name="ma" value="{{this.manufacturer}}">
          <input type="hidden" name="pn" value="{{this.manufacturerPartNumber}}">
          <input type="hidden" name="pr" value="{{this.PriceBreaks.[0].Price}}">
  </td>
  <td>          <button type="submit" class="btn btn-primary">Add to used parts</button>
        </form></td>
</tr>
{{/each}}
  </tbody>
</table>
